{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Site settings" %}{% endblock %}
{% block bodyclass %}menu-site-settings{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Site settings" subtitle="Choose settings collection" icon="cogs" %}

    <div class="nice-padding">
		<h1>
			{{ site.hostname }}{% if site.port != 80 %}:{{ site.port }}{% endif %}
			{% if site.is_default_site %}<span> &mdash; [{% trans "default" %}]</span>{% endif %}
		</h1>
        {% if has_global_settings %}
            <ul class="listing">
                {% for content_type, model_type in site_settings_list %}
                    <li>
                        <div class="row row-flush title">
                            <h2>
                                <a href="{% url 'wagtail_site_settings_edit' pk=site.pk ct_pk=content_type.pk %}" class="col6">
                                    {{ model_type }}
                                </a>
                            </h2>
                            <small class="col6">{{ content_type.app_label|title }}</small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% blocktrans %}There are no global settings to be edited!{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
