{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Edit global settings" %}{% endblock %}
{% block bodyclass %}menu-global-settings{% endblock %}
{% block content %}

    {% trans "Edit global settings" as new_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=model_name icon="cogs" %}

    <form action="{% url 'wagtail_global_settings_edit' pk=content_type.pk %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

		<br/>
		<div class="nice-padding"><input type="submit" value="{% trans 'Save' %}" /></div>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
